<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{ errorMessage }}
</div>

<form (ngSubmit)="login()" [formGroup]="form" autocomplete="off">
  <div class="row mb-3">
    <label for="username" class="col-sm-2 col-form-label">Email o nombre de usuario</label>
    <div class="col-sm-10">
      <input formControlName="username" type="text" id="username" class="form-control" placeholder="Email o nombre de usuario">
    </div>
  </div>
  <div class="row mb-3">
    <label for="password" class="col-sm-2 col-form-label">Contraseña</label>
    <div class="col-sm-10">
      <input formControlName="password" type="password" id="password" class="form-control" placeholder="Contraseña">
    </div>
  </div>
  <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Ingresar</button>
</form>
